

/* Footer */
footer {
    background-color: #0d0d0d;
    padding: 60px 24px;
    font-size: 14px;
    color: #aaa;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    width: 25%;
    padding-right: 20px;
    margin-bottom: 30px;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #bbd4cf;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #bbd4cf;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #222;
    border-radius: 50%;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    background-color: #bbd4cf;
    color: white;
    transform: translateY(-3px);
}

.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #333;
    text-align: center;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 991px) {


    .footer-column {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .footer-column {
        width: 100%;
    }
}
