<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business     </title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../static/Assets/Images/simlelogo.png"/>
</head>
<body>
    <!--Tutaj jest zakladka style poniewaz wdupce tutaj kolory i zmienianie ich -->
    <style>
        :root {
            --primary-color: #db27ff !important;
            --brigther-primary: #ff78dd !important;
            --darker-primary: #a0005d28 !important;
            /* To jest tło za logiem i to na dole jak masz join the project */
            --background: url('../Assets/Images/stardusttl (2).jpg')
        }
    </style>

    <!-- Navigation -->
    {% include 'nav.html' %}

    <!-- Hero Section -->
    <section class="hero" id="hero">
        <div class="bg-image"></div>
        <div class="logo-overlay">
            <img src="../static/Assets/Images/business_logo.png" alt="Business Logo">
        </div>
    </section>

    <!-- Statistics Section -->
    <section class="stats" id="stats">

    </section>

    <!-- About Section -->
    <section class="about-section" id="about">
        <div class="about-container">
            <div class="about-heading">
                <h2>About Business</h2>
            </div>
            <div class="about-content">
                <div class="about-text">
                    <p class="intro-text">Business </p>
                    
                    <p>Arkady Fiedler w swoich publikacjach nazwał mechaników Dywizjonu 303 "szarymi korzeniami bujnych kwiatów". Tym właśnie Dział Business jest dla Koła Naukowego SimLE.
Naszą misją jest pozyskiwanie partnerów i sponsorów do współpracy, dbanie o integrację i wypoczynek członków koła, organizowanie logistyki w trakcie wszelkich wyjazdów, a także sprawianie, żeby zawsze było o nas głośno.
Prowadzimy aktywnie konta w mediach społecznościowych. Nasze strony na Facebooku, Instagramie oraz LinkedIn obserwuje łącznie ponad 3,5 tys. użytkowników.</p>
                    
                    <p></p>
                </div>
                <div class="slideshow-container">
                    <div class="slides-wrapper">
                        <div class="slide">
                            <img src="../static/Assets/Images/bussines3.jpg" alt="Business Seminar">
                        </div>
                        <div class="slide">
                            <img src="../static/Assets/Images/stardusttl (3).jpg" alt="Networking Event">
                        </div>   
                    </div>
                    <div class="slide-nav">
                        <div class="slide-arrow prev-arrow">&#10094;</div>
                        <div class="slide-arrow next-arrow">&#10095;</div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   <!-- Join Our Teams Section -->
    <section class="join-teams" id="teams">
        <h2>Poznaj nasz zespół</h2>
        <div class="teams-container">
            <div class="team-card">
                <i class="fa-regular fa-money-bill-1"></i>
                <h3>Działy</h3>
                <div class="sub-areas">
                    <span class="sub-area-card">Logistyka</span>
                    <span class="sub-area-card">Promocja/Marketing</span>
                    <span class="sub-area-card">Finanse</span>
                    <span class="sub-area-card">Sponsoring</span>     
            
                </div>
                <div class="team-description">
                    <p>Każdy z działów Businessu wspiera projekty techniczne ,,zza kulis"
                        </p>
                </div>
                <a href="#contact" class="read-more">Dowiedz się więcej</a>
            </div>
        </div>
    </section>
        <!-- CTA Section -->
        <section class="cta" id="contact">
            <div class="cta-container">
                <h2>Zostań częścią Businessu</h2>
                <p></p>
                <a href="/form" class="btn">Dołącz do nas!</a>
            </div>
        </section>

    {% include 'footer.html' %}

    <script src="../static/js/script.js"></script>
</body>
</html>
