    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Contact</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/SimLEpl/"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/simle.pg/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/simle/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/user/ProgramSimLE"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>SimLE Programs</h3>
                <table>
                    <tr>
                        <td><a href="/business">Business</a></td>
                        <td><a href="/science">Science</a></td>
                    </tr>
                    <tr>
                        <td><a href="/seasentinel">Seasentinel</a></td>
                        <td><a href="/simba">Simba</a></td>
                    </tr>
                    <tr>
                        <td><a href="/singo">SinGo</a></td>
                        <td><a href="/stardust">Stardust</a></td>
                    </tr>
                    <tr>
                        <td><a href="/stellar">Stellar</a></td>
                    </tr>
                </table>
            </div>


            
        </div>
        
        <div class="footer-bottom">
            <p>© 2025 SimLE Scientific Association. All rights reserved.</p>
        </div>
    </footer>