<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>O nas</h3>
            <p>SiMle to SiGmy</p>
        </div>
        <div class="footer-column">
            <h3>Links</h3>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="/main#projects">Our Projects</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Find Us</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer-column">
            <h3>Contact</h3>
            <p>Email: kontakt@simle.pg</p>
            <p>Adress: Politechnika Gdańska, Gdańsk, Polska</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Simle. All rights Reserved.</p>
    </div>
</footer>