<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimLe • Sponsors</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="icon" type="image/png" href="../static/Assets/Images/simlelogo.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body style="background-color: rgb(246, 244, 205);">
    <!-- Navigation -->
    {% include 'nav.html' %}
    
    <div class="form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSetOYs7Sc-N66C03flTZfhxR-mvRcTGeWdwErAaM1UgAHppdw/viewform" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Ładowanie…</iframe>
    </div>
    
    <footer>
        <div class="footer-bottom">
            <p>© 2025 SimLE Scientific Association. All rights reserved.</p>
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>