<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimLe </title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="icon" type="image/png" href="../static/Assets/Images/simlelogo.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


</head>
<body>
    <!-- Navigation -->
    {% include 'nav.html' %}
    <!-- Hero Section -->
    <section class="hero" id="hero">
        <div class="stars" id="stars"></div>
        <div class="hero-content">
            <h1>SimLe</h1>
            <p>Simply Learn Experience</p>
            <a href="#about" class="btn">Odkrywaj</a>
        </div>
    </section>

    <!-- Who We Are Section -->
    <section class="who-we-are-section" id="about">
        <div class="who-we-are-container">
            <div class="who-we-are-heading">
                <h2>Kim Jesteśmy</h2>
            </div>
            <div class="who-we-are-content">
                <div class="who-we-are-text">
                    <p align="justify", class="intro-text">Koło Naukowe SimLE to grupa utalentowanych i ambitnych studentów Politechniki Gdańskiej, których łączy przede wszystkim chęć tworzenia.</p>
                    
                    <p align="justify">Wierzymy, że dzięki pracy w interdyscyplinarnych zespołach możemy sięgać gwiazd, podążać tam, gdzie nikt wcześniej nie dotarł, i na co dzień robić to, co dla naszych rówieśników może wydawać się niemożliwe.</p>
                    
                    <p align="justify">W ramach naszego koła realizujemy programy i projekty, które łączą studentów z różnych kierunków, wydziałów, a nawet uczelni. Tworzymy przestrzeń, narzędzia i warunki – wszystko, co niezbędne, aby młodzi ludzie mogli doświadczać nauki w praktyce, rozwijać swoje pasje i odkrywać swój potencjał.</p>
                    
                </div>
                <div class="slideshow-container">
                    <div class="slides-wrapper">
                        <div class="slide">
                            <img src="../static/Assets/Images/enginetest.jpg" alt="SimLE Team">
                            
                        </div>
                        <div class="slide">
                            <img src="../static/Assets/Images/sciencelogo_bg.jpg" alt="SimLE Lab">
                            
                        </div>
                        <div class="slide">
                            <img src="../static/Assets/Images/join_propulsion_1.jpg" alt="Rocket Launch">
                            
                        </div>
                        <div class="slide">
                            <img src="../static/Assets/Images/whatwedo2.JPG" alt="Team Collaboration">
                            
                        </div>
                    </div>
                    <div class="slide-nav">
                        <div class="slide-arrow prev-arrow">&#10094;</div>
                        <div class="slide-arrow next-arrow">&#10095;</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Video Section -->
    <section class="rocket-video" id="technology">
        <div class="video-container">
            <div class="video-text">
                <h2>SimLE w akcji </h2>
            </div>
            <div class="video-placeholder" id="video-container">
                
                <video preload="auto" muted playsinline autoplay loop id="rocket-video" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover;">
                    <source src="../static/Assets/Videos/your-banner.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </section>

    <!-- Our Projects Section -->
    <section class="gallery" id="projects">
        <div class="gallery-container">
            <div class="gallery-heading">
                <h2>Nasze Projetky </h2>
                
            </div>
            <div class="gallery-grid">
                <a href="/stardust" class="gallery-item project-card">
                    <img src="../static/Assets/Images/stardustlogo_bg.jpg" alt="Stardust">
                    <div class="gallery-item-content">
                        <h3>Stardust</h3>
                        <p>Program balonów stratosferycznych badający górne warstwy atmosfery i przestrzeń ponad nią.</p>
                    </div>
                </a>
                <a href="/simba" class="gallery-item project-card">
                    <img src="../static/Assets/Images/simba-history2.jpg" alt="SimBa">
                    <div class="gallery-item-content">
                        <h3>SimBa</h3>
                        <p>Nasz program rakietowy</p>
                    </div>
                </a>
                <a href="/science" class="gallery-item project-card">
                    <img src="../static/Assets/Images/sciencelogo_bg.jpg" alt="Science">
                    <div class="gallery-item-content">
                        <h3>Science</h3>
                        <p>Nasz dział eksperymentów naukowych przesuwa granice wiedzy.</p>
                    </div>
                </a>
                <a href="/seasentinel" class="gallery-item project-card">
                    <img src="../static/Assets/Images/seasentinellogo_bg.jpg" alt="SeaSentinel">
                    <div class="gallery-item-content">
                        <h3>SeaSentinel</h3>
                        <p>Budujemy autonomiczne pojazdy nawodne na potrzeby badań morskich i ochrony środowiska.</p>
                    </div>
                </a>
                <a href="/singo" class="gallery-item project-card">
                    <img src="../static/Assets/Images/join_propulsion_1.jpg" alt="Singo">
                    <div class="gallery-item-content">
                        <h3>SinGo</h3>
                        <p>Projekt drona do pomiaru wysokości pokrywy śnieżnej z wykorzystaniem zaawansowanych czujników.</p>
                    </div>
                </a>
                <a href="/stellar" class="gallery-item project-card">
                    <img src="../static/Assets/Images/ogurek.jpg" alt="Stellar">
                    <div class="gallery-item-content">
                        <h3>Stellar</h3>
                        <p>Projket łazika kosmicznego</p>
                    </div>
                </a>
                <a href="/business" class="gallery-item project-card">
                    <img src="../static/Assets/Images/ogurek.jpg" alt="Business">
                    <div class="gallery-item-content">
                        <h3>Business</h3>
                        <p>Kręgosłup finansowy i logistyczny koła</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- CTA Section -->
    <section class="cta" id="contact">
        <div class="cta-container">
            <h2>Przyłącz się do jedynego takiego koła naukowego</h2>
            <p> Zapisz się, aby otrzymywać informacje o naszych misjach, przełomach technologicznych oraz być ich częścią.</p>
            <a href="/form" class="btn">Dołącz już dziś!</a>
        </div>
    </section>

    <!-- Footer -->
    {% include 'footer.html' %}
    <script src="../static/js/main-script.js"></script>
</body>
</html>