<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Ikonka hamburger menu. -->
    <div class="topnav" id="myTopnav">

        <img src="../static/Assets/Images/simlelogo.png" alt="Simle Logo" class="logo" id="logo">

            <a class="responsive_guwno" href="/form">Recruitment</a>
            {% if active_page != 'sponsors' %}
            <a href="/main#projects">Projects</a>
            <a href="/sponsors">Sponsors</a>
            <a href="#contact">Contact</a>
            {% endif %}

            {% if active_page == 'main' %}
            <a href="#technology">Technology</a>
            {% endif %}

            {% if active_page == 'seasentinel' %}
            <a href="#projects">Projects</a>
            {% endif %}

            {% if active_page =='simba' or active_page =='business' or active_page =='stardust' or active_page == 'stellar' or active_page =='singo'or active_page =='science'%}
            <a href="#history">History</a>
            <a href="#timeline">Timeline</a>
            <a href="#teams">Teams</a>
            {% endif %}

            {% if active_page == 'seasentinel'%}
            <a href="#teams">Team</a>
            {% endif %}

            {% if active_page != 'sponsors' %}
            <a href="#about">About</a>
            {% endif %}
            


            {% if active_page == 'sponsors' %}
            <a href="/main#projects">Projects</a>
            <a href="/main#contact">Contact</a>
            <a href="/main#technology">Technology</a>
            <a href="/main#about">About</a>

            {% endif %}
            <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()"><i class="fa fa-bars"></i></a>
    </div>