<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Ikonka hamburger menu. -->
    <div class="topnav" id="myTopnav">

        <img src="../static/Assets/Images/simlelogo.png" alt="Simle Logo" class="logo" id="logo">

            <a class="responsive_guwno" href="/form">Rekrutacja</a>
            
            {% if active_page == 'main' %}
            <a href="/sponsors">Współprace</a>
            <a href="#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            <a href="#technology">Technologia</a>
            <a href="#about">About</a>
            {% endif %}

            {% if active_page == 'stardust' %}
            <a href="#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            <a href="#teams">Zespoly</a>
            <a href="#about">About</a>
            {% endif %}

            {% if active_page == 'simba' %}
            <a href="#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            <a href="#teams">Zespoły</a>
            <a href="#timeline">Timeline</a>
            <a href="#about">About</a>
            {% endif %}


            {% if active_page == 'science' %}
            <a href="#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            <a href="#timeline">Timeline</a>
            <a href="#about">About</a>
            {% endif %}

            {% if active_page == 'seasentinel' %}
            <a href="#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            <a href="#teams">Nasz zespół</a>
            <a href="#projects">Pojazdy</a>
            <a href="#about">About</a>
            {% endif %}

            {% if active_page == 'singo' %}
            <a href="#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            <a href="#about">About</a>
            {% endif %}

            {% if active_page == 'stellar' %}
            <a href="#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            <a href="#teams">Zespoły</a>
            <a href="#about">About</a>
            {% endif %}

            {% if active_page == 'business' %}
            <a href="#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            <a href="#teams">Zespoły</a>
            <a href="#about">About</a>
            {% endif %}

            {% if active_page == 'sponsors' %}
            <a href="/sponsors">Współprace</a>
            <a href="/main#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            {% endif %}

            {% if active_page == 'form' %}
            <a href="/sponsors">Współprace</a>
            <a href="/main#contact">Kontakt</a>
            <a href="/main#projects">Projekty</a>
            {% endif %}

            <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()"><i class="fa fa-bars"></i></a>
    </div>