<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimLE Science </title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../static/Assets/Images/simlelogo.png"/>
</head>
<body>
    <!-- Tutaj jest zakladka style poniewaz wdupce tutaj kolory i zmienianie ich -->
    <style>
        :root {
            --primary-color: #c945e4 !important;
            --brigther-primary: #f2b3ff !important;
            --darker-primary: #4e3a52 !important;
            /* To jest tło za logiem i to na dole jak masz join the project */
            --background: url('../Assets/Images/science2.jpg') !important;
        }
    </style>

    <!-- Navigation -->
    {% include 'nav.html' %}

    <!-- Hero Section -->
    <section class="hero" id="hero">
        <div class="bg-image"></div>
        <div class="logo-overlay">
            <img src="../static/Assets/Images/science_logo.png" alt="SimLE Science Logo">
        </div>
    </section>

    <!-- About Section -->
    <section class="about-section" id="about">
        <div class="about-container">
            <div class="about-heading">
                <h2>About SimLE Science</h2>
            </div>
            <div class="about-content">
                <div class="about-text">
                    <p>Projekt Science powstał aby połączyć nauki biologiczne z inżynierią. Nasze działania skupiają się by połączyć osoby ze wszystkich dziedzin w jeden zgrany zespół.</p>
                </div>
                <div class="slideshow-container">
                    <div class="slides-wrapper">
                        <div class="slide">
                            <img src="../static/Assets/Images/science2.jpg" alt="Engine Test">
                        </div>
                        <div class="slide">
                            <img src="../static/Assets/Images/science3.jpg" alt="Rocket Assembly">
                        </div>
                        
                    </div>
                    <div class="slide-nav">
                        <div class="slide-arrow prev-arrow">&#10094;</div>
                        <div class="slide-arrow next-arrow">&#10095;</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Timeline Section -->
    <section class="timeline" id="timeline">
        <div class="timeline-heading">
            <h2>Timeline realizacji projektów</h2>
        </div>
        <div class="timeline-container">
            <!-- Timeline Item 1 -->
            <div class="timeline-item">
                <div class="timeline-block">
                    <div class="timeline-image">
                        <img src="../static/Assets/Images/timelinescience1.jpg" alt="Milestone 2015">
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2021</div>
                        <p> Stardust Microbiology Project.
                            Projekt, który był ściśle powiązany z programem balonowym naszego koła. Celem eksperymentu było wyłapanie za pomocą filtrów strzykawkowych mikroorganizmów znajdujących się w stratosferze. Misja balonowa poleciała na pokładzie 31 gondoli programu REXUS/BEXUS organizowanego przez Szwedzką Narodową Radę Kosmiczną (SNSB) oraz Niemiecką Agencję Kosmiczną (DLR) we współpracy z Europejską Agencję Kosmiczną (ESA).</p>
                    </div>
                </div>
            </div>
            <!-- Timeline Item 2 -->
            <div class="timeline-item">
                <div class="timeline-block">
                    <div class="timeline-image">
                        <img src="../static/Assets/Images/timelinescience2.jpg" alt="Milestone 2017">
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2022</div>
                        <p>Projekt AMBER- Autonomous Modular Biotechnological Experiment on a Rocket. To autonomiczna, modułowa i skalowalna platforma w formie cubesata 3U, zdolna do prowadzenia badań o charakterze astrobiologicznym na pokładzie rakiety SimBa.Głównym celem ładunku badawczego projektu AMBER było zbadanie wpływu lotu suborbitalnego rakiety na przebieg procesu biosyntezy, sprawność reakcji enzymatycznych, zachowanie właściwości biofilmu szczepu dzikiego oraz zdolności mutagennych. Projekt może pochwalić się uzyskaniem listu rekomendacyjnego za sens naukowy od NASA Ames Reaserch Center.</p>
                    </div>
                </div>
            </div>
            <!-- Timeline Item 3 -->
            <div class="timeline-item">
                <div class="timeline-block">
                    <div class="timeline-image">
                        <img src="../static/Assets/Images/timelinescience3.JPG" alt="Milestone 2019">
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2023</div>
                        <p> Projekt STORM- Stratospheric Toxin Migration, kolejna iteracja ładunku badawczego do balonu stratosferycznego. Tym razem chcieliśmy poszerzyć nasz zakres badań i oprócz mikroorganizmów żyjących w stratosferze skupiliśmy się również na związkach chemiczny, które można tam znaleźć. Została zmieniona cała aparatura badawcza, a misja balonowa miała sprawdzić jej skuteczność.Projekt STORM był inspiracją, a także silnikiem napędowym do ponownego zgłoszenia się do programu REXUS/BEXUS. </p>
                    </div>
                </div>
            </div>
            <!-- Timeline Item 4 -->
            <div class="timeline-item">
                <div class="timeline-block">
                    <div class="timeline-image">
                        <img src="../static/Assets/Images/timelinescience4.jpg" alt="Milestone 2020">
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2024</div>
                        <p>Projekt STORMDUST- Science of TOxin migRation and Microbiology in DifficUlt STratospheric conditions. STORMDUST był połączeniem projektu  STORM z ramienia Science oraz Stardusta. Razem stworzyliśmy platformę, której celem było zbadanie związków chemicznych oraz mikroorganizmów na różnych wysokościach stratosfery.Po raz kolejny udało się nam dostać do programu REXUS/BEXUS i w październiku 2024 roku z sukcesem wysłaliśmy nasz eksperyment w 34 gondoli. Wyniki eksperymentu, będą przedstawiane na pierwszej edycji konferencji organizowanej przez nasze koło.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>


    
    <!-- CTA Section -->
    <section class="cta" id="contact">
        <div class="cta-container">
            <h2>Zostań częścią SimLE Science</h2>
            <p>Aktualnie zaczynamy pracę nad nowymi projektami, a TY możesz być ich częścią. </p>
            <a href="/form" class="btn">Dołącz</a>
        </div>
    </section>


    <!-- Modal for timeline images -->
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img id="modal-img" class="modal-content">
    </div>

    <!--Footer-->
    {% include 'footer.html' %}

    <script src="../static/js/script.js"></script>
</body>
</html>
