<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stardust</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../static/Assets/Images/simlelogo.png"/>
</head>
<body>
    <!--Tutaj jest zakladka style poniewaz wdupce tutaj kolory i zmienianie ich -->
    <style>
        :root {
            --primary-color: #ffa365 !important;
            --brigther-primary: #ffbc70 !important;
            --darker-primary: #ff660028 !important;
            /* To jest tło za logiem i to na dole jak masz join the project */
            --background: url('../Assets/Images//stardusttl (1).jpg')
        }
    </style>

    <!-- Navigation -->
    {% include 'nav.html' %}

    <!-- Hero Section -->
    <section class="hero" id="hero">
        <div class="bg-image"></div>
        <div class="logo-overlay">
            <img src="../static/Assets/Images/stardust_logo.png" alt="Stardust Logo">
        </div>
    </section>


    <!-- About Section -->
    <section class="about-section" id="about">
        <div class="about-container">
            <div class="about-heading">
                <h2>About Stardust</h2>
            </div>
            <div class="about-content">
                <div class="about-text">
                    <p>Stworzyliśmy program Stardust, ponieważ chcieliśmy przesuwać granice tego, co możliwe i osiągalne dla przeciętnego studenta. Wznosić się wyżej i dalej w nieznane, a następnie dokonywać tam odkryć  stanowiących istotny wkład w rozwój polskiej nauki.Od 2016 roku, koncentrujemy się na eksploracji bliskiej przestrzeni kosmicznej przy użyciu balonów stratosferycznych jako taniej i dostępnej platformy do badań naukowych.W ciągu ostatnich 7 lat przeprowadziliśmy z powodzeniem wiele misji, których kulminacją był udział w 13. edycji programu REXUS/BEXUS organizowanego przez Niemiecką, Szwedzką oraz Europejską Agencję Kosmiczną.Obecnie nasz zespół udoskonala rozwiązania techniczne i testuje ładunki badawcze opracowane w ramach zakończonego już projektu STORMDUST. Dzięki doświadczeniom z tego projektu, w tym programu BEXUS 34, rozwijamy teraz program STARDUST.</p>
                </div>
                <div class="slideshow-container">
                    <div class="slides-wrapper">
                        <div class="slide">
                            <img src="../static/Assets/Images/stardust1.jpg" alt="Engine Test">
                            
                        </div>
                        <div class="slide">
                            <img src="../static/Assets/Images/stardust2.jpg" alt="Rocket Assembly">
                            
                        </div>
                    </div>
                    <div class="slide-nav">
                        <div class="slide-arrow prev-arrow">&#10094;</div>
                        <div class="slide-arrow next-arrow">&#10095;</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Join Our Teams Section -->
    <section class="join-teams" id="teams">
        <h2>Dołącz do nas</h2>
        <div class="teams-container">
            <div class="team-card">
                <i class="fas fa-fire"></i>
                <h3>Mechanika</h3>
                
                <div class="team-description">
                    <p>Projektowanie gondoli, olinowania, integracja z ładunkami badawczymi pod kątem mechanicznym.</p>
                </div>
                <a href="#contact" class="read-more">Dowiedz się więcej</a>
            </div>

            <div class="team-card">
                <i class="fas fa-wrench"></i>
                <h3>Elektronika</h3>
                <div class="team-description">
                    <p>Projektowanie płytek PCB oraz innych komponentów elektronicznych, integracja z ładunkami badawczymi pod kątem elektronicznym, programowanie embedded.</p>
                </div>
                <a href="#contact" class="read-more">Dowiedz się więcej</a>
            </div>

            <div class="team-card">
                <i class="fas fa-laptop-code"></i>
                <h3>Software</h3>
               
                <div class="team-description">
                    <p>Programowanie elementów stacji naziemnej, utrzymanie komunikacji z gondolą podczas misji</p>
                </div>
                <a href="#contact" class="read-more">Dowiedz się więcej</a>
            </div>
        </div>
    </section>

    <!-- CTA Section -->
    <section class="cta" id="contact">
        <div class="cta-container">
            <h2>Zostań częścią Stardusta</h2>
            <a href="/form" class="btn">Dołącz do nas!</a>
        </div>
    </section>

    <!--Footer-->
    {% include 'footer.html' %}

    <script src="../static/js/script.js"></script>
</body>
</html>
