<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stellar </title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../static/Assets/Images/stellarlogo.png"/>
</head>
<body>
    <style>
        :root {
            --primary-color: #ca2c1e !important;
            --brigther-primary: #ff8266 !important;
            --darker-primary: #660000 !important;
            /* Tło za logiem i to na dole jak masz join the project */
            --background: url('../Assets/Images/stellar1.jpg')
        }
    </style>

    <!-- Navigation -->
    {% include 'nav.html' %}

    <!-- Hero Section -->
    <section class="hero" id="hero">
        <div class="bg-image"></div>
        <div class="logo-overlay">
            <img src="../static/Assets/Images/stellarlogo.png" alt="Stellar Logo">
        </div>
    </section>

    <!-- Statistics Section -->
    <section class="stats" id="stats">
        
    </section>

    <!-- About Section -->
    <section class="about-section" id="about">
        <div class="about-container">
            <div class="about-heading">
                <h2>About STELLAR</h2>
            </div>
            <div class="about-content">
                <div class="about-text">
                    <p>Zespół STELLAR mierzy wysoko - za cel obrał Marsa. Konkretnie: zaprojektowanie i skonstruowanie łazika wyposażonego w system kamer i czujników,  które pozwolą na autonomiczną pracę, oraz w moduły zadaniowe, takie jak robotyczne ramię czy wiertło do pozyskiwania próbek spod powierzchni planety.  Wszystko to z myślą o udziale w konkursie European Rover Challenge.
                        Jesteśmy najmłodszym projektem w SimLE, powstałym w 2025 roku. Obecnie wybieramy rozwiązania oraz tworzymy projekt łazika, na podstawie którego będziemy budować prototyp.
                        </p>
                </div>
                <div class="slideshow-container">
                    <div class="slides-wrapper">
                        <div class="slide">
                            <img src="../static/Assets/Images/stellar1.jpg" alt="Lunar Rover Testing">
                            
                        </div>
                        <div class="slide">
                            <img src="../static/Assets/Images/stellar1.jpg" alt="Rover on Moon Surface">
                            
                         
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>



    

    <!-- Join Our Teams Section -->
    <section class="join-teams" id="teams">
        <h2>Poznaj nasze zespoły</h2>
        <div class="teams-container">
            <div class="team-card">
                <i class="fas fa-wrench"></i>
                <h3>Budowa łazika</h3>
                <div class="sub-areas">
                    <span class="sub-area-card">mechanika</span>
                    <span class="sub-area-card">elektronika</span>
                    <span class="sub-area-card">embedded</span>
                </div>
                <div class="team-description">
                    <p>Zespoły z sekcji budowy łazika odpowiadają za zawieszenie, nadwozie i moduły zadaniowe (ramię i wiertło), układ napędowy, system zasilania oraz moduły zadaniowe
                        oraz modularny system płytek PCB z mikrokontrolerami i oprogramowanie ich.
                        </p>
                </div>
                <a href="#contact" class="read-more">Dowiedz się więcej</a>
            </div>

            <div class="team-card">
                <i class="fas fa-satellite"></i>
                <h3>System komunikacji i sensorów</h3>
                <div class="sub-areas">
                    <span class="sub-area-card">Przetwarzanie danych</span>
                    <span class="sub-area-card">Radio</span>    
            
                </div>
                <div class="team-description">
                    <p>Implementacja autonomiczności na podstawie danych zebranych z sensorów i wykonywanie symulacji,
                         dwustronna komunikacja i przesył danych między łazikiem a stacją bazową.
                        </p>
                </div>
                <a href="#contact" class="read-more">Dowiedz się więcej</a>
            </div>
            <div class="team-card">
                <i class="fa-solid fa-flask"></i>
               
                <h3>Sekcja naukowa</h3>
                <div class="sub-areas">
                    <span class="sub-area-card">Logistyka</span>
                    <span class="sub-area-card">Nauka</span>
            
                </div>
                <div class="team-description">
                    <p> Planowanie misji oraz analiza pobranych próbek.
                        </p>
                </div>
                <a href="#contact" class="read-more">Dowiedz się więcej</a>
            </div>

        
        </div>
    </section>

    <!-- CTA Section -->
    <section class="cta" id="contact">
        <div class="cta-container">
            <h2>Zostań częścią zespołu STELLAR-a </h2>
            <p>Dołącz do najnowszego projektu SimLE!</p>
            <a href="/form" class="btn">Dołącz do nas!</a>
        </div>
    </section>

    <!-- Footer -->
    {% include 'footer.html' %}

    <script src="../static/js/script.js"></script>
</body>
</html>
